@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: black;

}

header {
  background-color: #494d7e;
  width: 100%;
  color: #fbf5ef;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
}

section {
  background-color: #8b6d9c;
  padding: 2rem;
  color: white;
}

.page {
  width: 960px;
  margin: auto;

}

.icon {
  height: 1.5rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.left,.nav, header {
  display: flex; 
  align-items: center;
  gap: 1rem;
}

.nav li {
  list-style: none;

}

h4,h2,h3,p {
  margin-bottom: 1rem;
}

.p1 {
  margin-bottom: 0.5rem;

}

ol li {

  margin-bottom: 0.3rem;
}

.cimg {
  width: 100%;
  border: #fbf5ef 5px solid;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.yt {
  list-style-type: square;

}

.lo{

  list-style-type: upper-roman;
  margin-bottom: 1rem;
}

.tab {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
}

.tabe {
  width: 25%;
  border: white 1px solid; 
  padding: 1em;
  margin-bottom: 2rem;

}
.tui{
  margin-bottom: 2rem;

}
 